<nav id="nav" class="navbar navbar-expand-lg navbar-derk bg-dark">
    <a class="navbar-brand" routerLink="/admin"><i class="fa fa-star" aria-hidden="true"></i>  Nakshatra</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="orders"><i class="fa fa-list-ol" aria-hidden="true"></i>  Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="mess"><i class="fa fa-spoon" aria-hidden="true"></i>  Mess</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-credit-card" aria-hidden="true"></i>  Billing</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="billings/customer"><i class="fa fa-users" aria-hidden="true"></i>  Customer</a>
                    <a class="dropdown-item" routerLink="billings/company"><i class="fa fa-industry" aria-hidden="true"></i>  Company</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear" aria-hidden="true"></i>  Settings</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="companies"><i class="fa fa-industry" aria-hidden="true"></i>  Company</a>
                    <a class="dropdown-item" routerLink="menus"><i class="fa fa-coffee" aria-hidden="true"></i>  Menus</a>
                    <a class="dropdown-item" routerLink="customers"><i class="fa fa-users" aria-hidden="true"></i>  Customers</a>
                    <a class="dropdown-item" routerLink="mess-members"><i class="fa fa-spoon" aria-hidden="true"></i>  Mess Members</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-user" aria-hidden="true"></i>  {{user.username}}</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" [routerLink]="null" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="row"></div>
<div class="container">
    <router-outlet></router-outlet>
</div>