<div class="pull-right"> 
    <hnTableColumnSelector (selectColumns)="setTableColoumns($event)" [defaultColumns]="defaultColumns" [tableColumns]="tableColumns" [selectedColoumns]="selectedColoumns"></hnTableColumnSelector> 
</div>
<br>
<table [ngClass]="tableClass">
    <thead [ngClass]="tableHeaderClass">
        <tr>
            <th *ngIf="indexColumn">#</th>
            <th *ngFor="let column of selectedColoumns" [innerText]="column | splitandtitle"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tableData, let i = index" [routerLink]="data[selectableColumn]">
            <th *ngIf="indexColumn" [innerText]="i + 1"></th>
            <td *ngFor="let column of selectedColoumns" [innerText]="data[column] | formatcolumn"></td>
        </tr>
    </tbody>
</table>
