<div class="row">
    <div class="col-sm-10">
        <h1>Customer</h1>
    </div>
</div>
<hr>
<form (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
<form (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="form-group row">
        <label for="inputCompany" class="col-sm-2 col-form-label">Company</label>
        <div>
            <input type="text" class="form-control" name="company" [ngClass]="{ 'is-invalid': f.submitted && !company.valid }" placeholder="Company" [(ngModel)]="model.company" #company="ngModel" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputMobile" class="col-sm-2 col-form-label">Mobile #</label>
        <div>
            <input type="text" class="form-control" name="mobile" [ngClass]="{ 'is-invalid': f.submitted && !mobile.valid }" placeholder="Mobile #" [(ngModel)]="model.mobile" maxlength="10" minlength="10" #mobile="ngModel" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
        <div>
            <input type="text" class="form-control" name="firstName" [ngClass]="{ 'is-invalid': f.submitted && !firstName.valid }" placeholder="First Name" [(ngModel)]="model.firstName" #firstName="ngModel" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputMiddleName" class="col-sm-2 col-form-label">Middle Name</label>
        <div>
            <input type="text" class="form-control" name="middleName" placeholder="Middle Name" [(ngModel)]="model.middleName" #middle="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
        <div>
            <input type="text" class="form-control" name="lastName" [ngClass]="{ 'is-invalid': f.submitted && !lastName.valid }" placeholder="Last Name" [(ngModel)]="model.lastName" #lastName="ngModel" required>
        </div>
    </div>    
    <div class="form-group row">
        <label for="inputDOB" class="col-sm-2 col-form-label">Date of Birth</label>
        <div>
            <input type="text" class="form-control" name="dob" placeholder="Date of Birth" [(ngModel)]="model.dob" #dob="ngModel">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div>
            <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel">
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-legend col-sm-2">Employment Type</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [(ngModel)]="model.employment" name="employment" value="e" #employment="ngModel" required>
                        Employee
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [(ngModel)]="model.employment" name="employment" value="c" required>
                        Contractor
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" [(ngModel)]="model.employment" name="employment" value="g"  required>
                        Guest
                    </label>
                    <div *ngIf="f.submitted && !employment.valid" class="help-block text-danger">Employment is required</div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group row  p-3 mb-2 bg-dark text-white">
        <div class="col-sm-2"></div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-light" routerLink="/admin/customers">Cancle</button>
        </div>
    </div>
</form>