<hnPageHeader header="Customers" icon="fa-users"></hnPageHeader>
<form [formGroup]="customerForm" (ngSubmit)="submit(customerForm.value)">
    <div class="form-group row">
        <label for="inputCompany" class="col-sm-2 col-form-label">Company</label>
        <div>
            <input type="text" class="form-control" formControlName="company" [ngClass]="{ 'is-invalid': !customerForm.controls.company.valid }">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
        <div>
            <input type="text" class="form-control"  formControlName="firstName" [ngClass]="{ 'is-invalid': !customerForm.controls.firstName.valid }">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputMiddleName" class="col-sm-2 col-form-label">Middle Name</label>
        <div>
            <input type="text" class="form-control"  formControlName="middleName">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
        <div>
            <input type="text" class="form-control"  formControlName="lastName" [ngClass]="{ 'is-invalid': !customerForm.controls.lastName.valid }">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputMobile" class="col-sm-2 col-form-label">Mobile</label>
        <div>
            <input type="test" class="form-control"  formControlName="mobile" [ngClass]="{ 'is-invalid': !customerForm.controls.mobile.valid }">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputDob" class="col-sm-2 col-form-label">Date of Birth</label>
        <div>
            <input type="text" class="form-control"  formControlName="dob">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div>
            <input type="text" class="form-control"  formControlName="email">
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-legend col-sm-2">Employee Type</legend>
            <div class="col-sm-10">
                <div class="form-check" *ngFor="let option of employeeTypeOptions">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" formControlName="employeeType" value="{{option}}">
                        {{option}}
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-legend col-sm-2">Active</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" formControlName="active">
                        Yes
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group row p-3 mb-2 bg-dark text-white">
        <div class="col-sm-2"></div>
        <div>
            <button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">Add</button>
            <button type="button" class="btn btn-light" routerLink="/admin/customers">Cancle</button>
        </div>
    </div>
</form>