<div style="text-align:center">
    <div>
        <img src="assets/images/hotelnakshatra.jpg">
    </div>
</div>
<div class="container">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-row">
            <div class="form-group col-md-5">
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !username.valid }" name="username" placeholder="Username"
                    [(ngModel)]="model.username" #username="ngModel" required />
            </div>
            <div class="form-group col-md-5">
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !password.valid }" name="password"
                    placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-primary">Login</button>
                <button class="btn btn-secondary" routerLink="/">Cancle</button>
            </div>
        </div>
    </form>
</div>