<hnPageHeader header="Billing"></hnPageHeader>
<form class="alert alert-primary" [formGroup]="billingForm" (ngSubmit)="submit(billingForm.value)">
    <div class="form-group row">
        <label id="customer-label" class="col-1">Customer</label>
        <div class="col-2">
            <select class="form-control" formControlName="customer" [ngClass]="{ 'is-invalid': !billingForm.controls.customer.valid }" (change)="submit(billingForm.value)">
                <option *ngFor="let customer of customers" [ngValue]="customer" [innerText]="customer.firstName"></option>
            </select>
        </div>
        <h5 class="col-4" [innerText]="billingForm.controls.customer.value.firstName +' '+ billingForm.controls.customer.value.middleName +' '+ billingForm.controls.customer.value.lastName +' - '+ billingForm.controls.customer.value.company"></h5>
        <h5 class="col-4">Total Bill : 
            <span [innerText]="totalBill"></span>
        </h5>
    </div>
</form>
<hnTable name="billing" [defaultColumns]="defaultColumns" [tableColumns]="orderColumns" [tableData]="orders" [selectable]="false" [print]="true"></hnTable>